*{
    margin: 0;
    padding: 0;
    font-family: 'Titan One', cursive;
}
body{
 
    background-color: rgb(46, 45, 45);
    color: white;
}
.hide{
  display: none;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  margin-left: 300px;
  margin-right: 300px;
    
}
#heading{
  margin-top: 200px;
}

#displayPic{
    border: 1px solid wheat;
    border-radius: 10%;
    margin: auto auto;
    
}
#welcome{
    
    
    /* background-image: linear-gradient(rgb(46, 45, 45), gray); */
    /* grid-column: 2/5; */
}
#canvas{
    display: block;
    
    /* border: 1px solid wheat; */
    border-radius: 10%;
    width: 630px;
    height: 450px;
    
}

#hello{
  font-size: 10rem;
  color:  #decaf8;
}
#my-name{
  font-size: 4rem;
}
#fullstack-developer{
  font-size: 2rem;
}
.secondary-heading{
  font-size: 2rem;
  color: #33b9b3;
}
#about{
  margin: 0 300px;
}
#about-me{
  text-align: center;
  margin: 50px 0;
}

